<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar superhéroe</title>
</head>
<body>
    <h2>Editar superhéroe</h2>

    <form action="/api/heroes/editar/<%= hero._id %>" method="POST">


        
        <label for="nombreSuperHeroe">Nombre del Superhéroe</label>
        <input type="text" name="nombreSuperHeroe" value="<%= hero.nombreSuperHeroe %>" required><br>

        <label for="nombreReal">Nombre real</label>
        <input type="text" name="nombreReal" value="<%= hero.nombreReal %>" required><br>

        <label for="edad">Edad</label>
        <input type="number" name="edad" value="<%= hero.edad %>"><br>

        <label for="planetaOrigen">Planeta de origen</label>
        <input type="text" name="planetaOrigen" value="<%= hero.planetaOrigen %>"><br>

        <label for="debilidad">Debilidad</label>
        <input type="text" name="debilidad" value="<%= hero.debilidad %>"><br>

        <label for="poderes">Poderes</label>
        <input type="text" name="poderes" value="<%= hero.poderes.join(', ') %>"><br>

        <label for="aliados">Aliados</label>
        <input type="text" name="aliados" value="<%= hero.aliados.join(', ') %>"><br>

        <label for="enemigos">Enemigos</label>
        <input type="text" name="enemigos" value="<%= hero.enemigos.join(', ') %>"><br>

        <input type="submit" value="Confirmar Cambios">
    </form>
</body>
</html>